
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  10% { opacity: 1; animation-timing-function: ease-out; }
  25% { opacity: 1 }
  40% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
opacity: 1;
}